<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYBEGi4XxavEOjDVsSwsyku2OumP1wCAI</string>
	<key>GCM_SENDER_ID</key>
	<string>251401364587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findYourRestaurant</string>
	<key>PROJECT_ID</key>
	<string>find-your-restaurant-2efbc</string>
	<key>STORAGE_BUCKET</key>
	<string>find-your-restaurant-2efbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251401364587:ios:1a1ec5601b5cb413b3bd2e</string>
</dict>
</plist>